[submodule "build/_deps/flac-src"]
	path = build/_deps/flac-src
	url = https://github.com/xiph/flac.git
	ignore = all
[submodule "build/_deps/freetype-src"]
	path = build/_deps/freetype-src
	url = https://github.com/freetype/freetype.git
	ignore = all
[submodule "build/_deps/ogg-src"]
	path = build/_deps/ogg-src
	url = https://github.com/xiph/ogg.git
	ignore = all
[submodule "build/_deps/vorbis-src"]
	path = build/_deps/vorbis-src
	url = https://github.com/xiph/vorbis.git
	ignore = all
[submodule "external/SFML"]
	path = external/SFML
	url = git@github.com:SFML/SFML.git
