# build
out
.cache
.idea
.vs
.vscode
.DS_Store

external/SFML/.git
external/SFML/.github
external/SFML/.gitignore
external/SFML/.gitattributes

build/CMakeCache.txt

# Bash files to run git and CMake
# build/run_cmake.sh
# add_submodules.sh
# remake.sh

# Build folder
build/*
!build/assets
!build/_deps/

build/_deps/*
!build/_deps/flac-src
!build/_deps/freetype-src
!build/_deps/ogg-src
!build/_deps/vorbis-src

# Save folder
saves/*

# Testing signed commits
testfile
testfile.sig
test.txt
