# build
out
.cache
.idea
.vs
.vscode
.DS_Store

external/SFML/.git
external/SFML/.github
external/SFML/.gitignore
external/SFML/.gitattributes

build/CMakeCache.txt
build/run_cmake.sh
commit_submodules.sh

testfile
testfile.sig
