[submodule "build/_deps/flac-src"]
	path = build/_deps/flac-src
	url = ./build/_deps/flac-src
[submodule "build/_deps/freetype-src"]
	path = build/_deps/freetype-src
	url = ./build/_deps/freetype-src
[submodule "build/_deps/ogg-src"]
	path = build/_deps/ogg-src
	url = ./build/_deps/ogg-src
[submodule "build/_deps/vorbis-src"]
	path = build/_deps/vorbis-src
	url = ./build/_deps/vorbis-src
